<!DOCTYPE html>
<html>
<head>
    <title>Forum för fårskallar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Forum för fårskallar</h1>

<div style="text-align:center; margin-bottom:20px;">
    <a href="/new">Skapa ett nytt inlägg</a> |
    <a href="/login">Login</a>
</div>

<div class="topic-list">
    {% for t in topics %}
    <div class="topic">
        <div class="topic-title">{{ t.title }}</div>
        <div class="topic-info">By {{ t.username }}</div>
    </div>
    {% endfor %}
</div>

</body>
</html>
