<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum för fårskallar</title>
</head>
<body>
    <header>
        <h1>Forum för fårskallar</h1>
    </header>

    <main>
        <h2>Logga in här!</h2>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Användarnamn" required>
            <input type="password" name="password" placeholder="Lösenord" required>
            <button type="submit">Logga in</button>
        </form>


        <h2>Skriv ditt inlägg</h2>
        <form action="" method="post">
            <input type="text" name="title" placeholder="Rubrik" required>
            <textarea name="content" rows="5" placeholder="Ditt inlägg" required></textarea>
            <button type="submit">Lägg upp</button>
        </form>

        <h2>Här finns alla inlägg!</h2>
    </main>

</body>
</html>