<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Forum för fårskallar</title>
</head>
<body>
<h1>Forum för fårskallar</h1>

{% if user %}
    <p>Inloggad som <b>{{ user.fullname }}</b> — <a href="/logout">Logga ut</a></p>
    <a href="/new_topic">Skapa ny tråd</a>
{% else %}
    <a href="/login">Logga in</a>
{% endif %}

<h2>Trådar</h2>

{% for t in topics %}
    <div>
        <a href="/topic/{{ t.id }}"><b>{{ t.title }}</b></a><br>
        <small>Skapad av {{ t.fullname }} - {{ t.created }}</small>
    </div>
<hr>
{% endfor %}
</body>
</html>
