<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Ny tråd till forum</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Skapa ny tråd här!</h1>

<form action="/new_topic" method="post">
    <label>Rubrik:</label><br>
    <input type="text" name="title" required><br><br>
    <label>Innehåll:</label><br>
    <input type="text" name="content" required><br><br>
    <input type="submit" value="Skapa tråd">
</form>

<br>
<a href="/">Gå tillbaka</a>

</body>
</html>
